<%- include("./partials/contributor/header.ejs") %>
<link href="/css/testcase.css" rel="stylesheet" />
<%if(error && error.length){%>
    <body class="" onload="nowuiDashboard.showNotification('bottom','right','error','<%=error%>')">
        <div class="wrapper ">
          <div class="sidebar" data-color="orange">
            <div class="logo">
              <a href="/home" class="simple-text logo-normal" style="text-align: center;">
                  ONLINE JUDGE
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
              <ul class="nav">
                <li>
                  <a href="/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Contributor Profile</p>
                  </a>
                </li>
                <li class="active ">
                  <a href="/contributor/problems">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Problems</p>
                  </a>
                </li>
                <li>
                  <a href="/contributor/addproblem">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p>Add New Problem</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
              <div class="container-fluid">
                <div class="navbar-wrapper">
                  <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                      <span class="navbar-toggler-bar bar1"></span>
                      <span class="navbar-toggler-bar bar2"></span>
                      <span class="navbar-toggler-bar bar3"></span>
                    </button>
                  </div>
                  <a class="navbar-brand" href="#pablo">Testcases</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">
                        <i class="now-ui-icons users_single-02"></i>
                        <p><%=currentUser.username%></p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">
                        <i class="now-ui-icons media-1_button-power"></i>
                        <p> Logout </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
              <div class="row">
                  <%for(var i=0;i<question.testcases.length;i++){%>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                        <h4 class="card-title"> TestCase <%=i+1%></h4>
                        </div>
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                            <thead class=" text-primary">
                                <th>
                                Input
                                </th>
                                <th>
                                Output
                                </th>
                                <th class="text-right">
                                Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].input%>
                                </td>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].output%>
                                </td>
                                <td class="text-right">
                                    <a href="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>/update">
                                    <button class="btn btn-info" style="font-size: medium; width: 100%;"><i class="fas fa-edit"></i></button>
                                    </a>
                                    <form action="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger" style="font-size: medium; width: 100%; margin-top: 5px;"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                <%}%>
                <div class="col-md-4">
                    <div class="card" id="addnew">
                      <div class="card-header">
                        <h4 class="card-title"></h4>
                      </div>
                      <div class="card-body" style="text-align: center;">
                        <a href="/contributor/problems/<%=question._id%>/testcases/add" style="text-decoration: none;">
                            <i class="now-ui-icons ui-1_simple-add" style="font-size: xxx-large;"></i>
                            <div>
                                <h3>Add new testcase</h3>
                            </div>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<%}else if(success && success.length){%>
    <body class="" onload="nowuiDashboard.showNotification('bottom','right','success','<%=success%>')">
        <div class="wrapper ">
          <div class="sidebar" data-color="orange">
            <div class="logo">
              <a href="/home" class="simple-text logo-normal" style="text-align: center;">
                  ONLINE JUDGE
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
              <ul class="nav">
                <li>
                  <a href="/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Contributor Profile</p>
                  </a>
                </li>
                <li class="active ">
                  <a href="/contributor/problems">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Problems</p>
                  </a>
                </li>
                <li>
                  <a href="/contributor/addproblem">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p>Add New Problem</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
              <div class="container-fluid">
                <div class="navbar-wrapper">
                  <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                      <span class="navbar-toggler-bar bar1"></span>
                      <span class="navbar-toggler-bar bar2"></span>
                      <span class="navbar-toggler-bar bar3"></span>
                    </button>
                  </div>
                  <a class="navbar-brand" href="">Testcases</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">
                        <i class="now-ui-icons users_single-02"></i>
                        <p><%=currentUser.username%></p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">
                        <i class="now-ui-icons media-1_button-power"></i>
                        <p> Logout </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
              <div class="row">
                  <%for(var i=0;i<question.testcases.length;i++){%>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                        <h4 class="card-title"> TestCase <%=i+1%></h4>
                        </div>
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                            <thead class=" text-primary">
                                <th>
                                Input
                                </th>
                                <th>
                                Output
                                </th>
                                <th class="text-right">
                                Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].input%>
                                </td>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].output%>
                                </td>
                                <td class="text-right">
                                    <a href="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>/update">
                                    <button class="btn btn-info" style="font-size: medium; width: 100%;"><i class="fas fa-edit"></i></button>
                                    </a>
                                    <form action="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger" style="font-size: medium; width: 100%; margin-top: 5px;"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                <%}%>
                <div class="col-md-4">
                    <div class="card" id="addnew">
                      <div class="card-header">
                        <h4 class="card-title"></h4>
                      </div>
                      <div class="card-body" style="text-align: center;">
                        <a href="/contributor/problems/<%=question._id%>/testcases/add" style="text-decoration: none;">
                            <i class="now-ui-icons ui-1_simple-add" style="font-size: xxx-large;"></i>
                            <div>
                                <h3>Add new testcase</h3>
                            </div>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<%}else{%>
    <body class="">
        <div class="wrapper ">
          <div class="sidebar" data-color="orange">
            <div class="logo">
              <a href="/home" class="simple-text logo-normal" style="text-align: center;">
                  ONLINE JUDGE
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
              <ul class="nav">
                <li>
                  <a href="/profile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Contributor Profile</p>
                  </a>
                </li>
                <li class="active ">
                  <a href="/contributor/problems">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Problems</p>
                  </a>
                </li>
                <li>
                  <a href="/contributor/addproblem">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p>Add New Problem</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
              <div class="container-fluid">
                <div class="navbar-wrapper">
                  <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                      <span class="navbar-toggler-bar bar1"></span>
                      <span class="navbar-toggler-bar bar2"></span>
                      <span class="navbar-toggler-bar bar3"></span>
                    </button>
                  </div>
                  <a class="navbar-brand" href="">TestCases</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/profile">
                        <i class="now-ui-icons users_single-02"></i>
                        <p><%=currentUser.username%></p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">
                        <i class="now-ui-icons media-1_button-power"></i>
                        <p> Logout </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">
            </div>
            <div class="content">
              <div class="row">
                  <%for(var i=0;i<question.testcases.length;i++){%>
                    <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                        <h4 class="card-title"> TestCase <%=i+1%></h4>
                        </div>
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                            <thead class=" text-primary">
                                <th>
                                Input
                                </th>
                                <th>
                                Output
                                </th>
                                <th class="text-right">
                                Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].input%>
                                </td>
                                <td style="text-align: left;">
                                    <%=question.testcases[i].output%>
                                </td>
                                <td class="text-right">
                                    <a href="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>/update">
                                    <button class="btn btn-info" style="font-size: medium; width: 100%;"><i class="fas fa-edit"></i></button>
                                    </a>
                                    <form action="/contributor/problems/<%=question._id%>/testcases/<%=question.testcases[i]._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger" style="font-size: medium; width: 100%; margin-top: 5px;"><i class="fas fa-trash"></i></button>
                                    </form>
                                </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                <%}%>
                <div class="col-md-4">
                    <div class="card" id="addnew">
                      <div class="card-header">
                        <h4 class="card-title"></h4>
                      </div>
                      <div class="card-body" style="text-align: center;">
                        <a href="/contributor/problems/<%=question._id%>/testcases/add" style="text-decoration: none;">
                            <i class="now-ui-icons ui-1_simple-add" style="font-size: xxx-large;"></i>
                            <div>
                                <h3>Add new testcase</h3>
                            </div>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<%}%>


<%- include("./partials/contributor/footer.ejs") %>